.center-img {
   display: block;
   margin: 0 auto;
   width: 50%;
}

h1 {
   font-family: 'Dancing Script', cursive;
   text-align: center;
   margin-top: 20px;
   font-weight: 900;
   font-size: 400%;
   color: grey;
}

body {
   text-align: center;
   background-color: rgb(255, 255, 170);
}

.qs {
   font-family: 'Gamja Flower', cursive;
   font-size: 200%;
   color: rgb(187, 118, 252);
}

.qn {
   font-family: 'Lacquer', sans-serif;
   font-size: 250%;
   color: rgb(58, 58, 138);
}

.ay {
   font-family: 'Lacquer', sans-serif;
   font-size: 300%;
}

.mt-text {
   text-align: center;
   font-family: 'Dancing Script', cursive;
   color: grey;
}


.mb-text {
   text-align: center;
   font-family: 'Lacquer', sans-serif;
   color: rgb(187, 118, 252);
}

a:hover {
   font-weight: bolder;
   text-decoration: underline;
   color: darkmagenta;
}

a {
   color: lightseagreen;
}